.menu-items {
    width: 100%;
    background-color: #060b26;
    height: 45px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

/* .NaviBar {
    background-color: #e3e4ec;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  } */

.navi{
    background-color: #060b26;
    height: 80px;
   
  }

