.content-userProfile{
    width: 100%;
    background-color: #1FB4AA;
    /* justify-content: space-around; */
    /* display: flex; */
    /* position: fixed; */
    /* font-size:20px; */
    /* height: 50px; */
    top: 0;
    color: aliceblue;
    

}