.content-userProfile{
    width: 300px;
    height: 140px;
    background-color: #1FB4AA;
    /* margin: initial; */
    display: inline-block;
    padding: 0 5px;
    /* top: 0; */
    color: aliceblue;
    

}