@import '../../global/variable.scss';

.CourtPin {
	position: relative;
    background: $sanarmbad-color-blue;
    color: white;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 15px;
    min-width: 100px;
    
    font-size: 15px;
    border: 1px solid darken($sanarmbad-color-blue, 10%);
    &:after,:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:after {
        border-color: rgba(136, 183, 213, 0);
        border-top-color: $sanarmbad-color-blue;
        border-width: 6px;
        margin-left: -6px;
    }

    &:before {
        border-color: rgba(194, 225, 245, 0);
        border-top-color: darken($sanarmbad-color-blue, 10%);
        border-width: 8px;
        margin-left: -8px;
    }

    &.DefaultTheme {
        background: $sanarmbad-color-blue;
        border: 1px solid darken($sanarmbad-color-blue, 10%);

        &:after {
            border-top-color: $sanarmbad-color-blue;
        }
    
        &:before {
            border-top-color: darken($sanarmbad-color-blue, 10%);
        }
    }

    &.RedTheme {
        background: red;
        border: 1px solid darken(red, 10%);

        &:after {
            border-top-color: red;
        }
    
        &:before {
            border-top-color: darken(red, 10%);
        }
    }
}