@import '../../global/variable.scss';

.BookingCard {
    @include joinSanarmShadow();
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;

    &__BookingDetail {
        color: #111;
        font-size: 10px;
        text-align: right;
        div {
            @include maxWidthDotDotDot(100%);
        }
    }

    &__DateTime {
        color: #111;
        font-size: 10px;
        font-weight: bold;
    }

    &__Date {

    }

    &__Time {
        text-align: right;
    }

    .courtAddress {
        &--location {
            margin: 0 2px;
        }
    }
}
