@import '../global/variable.scss';
.custom_class {
    background: #fff;
}

.JSNToast {
    @include joinSanarmShadeBackgroundColor();
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 75%;
    border-radius: 50%;
    .Toastify__toast-body {
        text-align: center;
        font-size: 20px;
    }

    &__Overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.5);
    }
}
